@import url('https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/inter.css');

:root {
  font-family: Inter;
}

#TableOfContents {
  @apply p-2 bg-gray-100 rounded-sm mb-3;
}

#TableOfContents ul {
  @apply ml-4;
}

#TableOfContents a {
  @apply text-blue-800;
}

#TableOfContents a:hover {
  @apply text-blue-900;
}

content p,
content ul,
content ol {
  @apply text-lg mb-2 text-justify;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

content h1 {
  /* do not use h1 in md file */
  @apply text-4xl bg-red-200 line-through;
}

content h2 {
  @apply text-3xl text-gray-800;
}

content > h3 {
  @apply text-2xl text-gray-800 mb-2;
}

content h4 {
  @apply text-xl text-gray-800;
}

content h5 {
  @apply text-lg text-gray-800;
}

content h6 {
  @apply text-base text-gray-800;
}

content h2 > a.anchor-link,
content h3 > a.anchor-link,
content h4 > a.anchor-link,
content h5 > a.anchor-link,
content h6 > a.anchor-link {
  display: none;
}

content h2:hover > a.anchor-link, 
content h3:hover > a.anchor-link, 
content h4:hover > a.anchor-link, 
content h5:hover > a.anchor-link, 
content h6:hover > a.anchor-link {
  display: inline;
}

content blockquote {
  @apply my-2 text-lg rounded-sm text-gray-600 bg-gray-200 p-2 italic border-l-4 border-gray-600;
}

content pre {
  @apply bg-gray-200 text-gray-800 p-2 rounded-sm my-2 overflow-x-auto overflow-y-hidden;
}

content ul, content ol {
  @apply my-2;
}

content ul {
  @apply ml-4;
}

content ul > li::before {
  content: "-";
  margin-left: -1rem;
}

content ol {
  @apply ml-4 list-decimal;
}

content table {
  @apply mx-auto text-left rounded-lg bg-gray-100;
}

content table tr:nth-child(2n) td {
  @apply bg-gray-200;
}

content table thead th {
  @apply bg-gray-300;
}

content table thead th:last-child {
  @apply rounded-tr-lg;
}

content table thead th:first-child {
  @apply rounded-tl-lg;
}

content table tbody tr:last-child td:first-child {
  @apply rounded-bl-lg;
}

content table tbody tr:last-child td:last-child {
  @apply rounded-br-lg;
}

content table td,
content table th {
  @apply p-2;
}
