<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="{{ .Language.Lang }}">
    <meta name="language" content="{{ .Language.Lang }}">

    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="manifest" href="icons/site.webmanifest">

    <title itemprop="name">
      {{ if ne .RelPermalink "/" }}
        {{ .Title }} &middot; 
      {{ end }}
      {{ .Site.Title }}
    </title>
    <base href="{{ .Permalink }}">

    {{ with.Params.author }}
      <meta property="og:article:author" content="{{ . }}">
      <meta property="article:author" content="{{ . }}">
      <meta name="author" content="{{ . }}">
    {{ end }}

    {{ $styles := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") }}

	{{ if .Site.IsServer }}
	    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
	{{ else }}
	    {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
	    <link rel="stylesheet" href="{{ $styles.Permalink }}">
	{{ end }}

  {{ if .Params.importMathjax }}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
  {{ end }}
</head>
