<a href="{{ .Permalink }}" class="p-4 rounded-lg transition-colors duration-75 dark:bg-blue-900 bg-white dark:hover:bg-blue-800 hover:bg-blue-100 w-full flex flex-col mb-2 items-center justify-between">
  <div class="w-full flex mb-2 items-center justify-between">
    <div class="flex flex-1 flex-wrap sm:flex-col flex-col items-start">
      <h3 class="text-xl sm:mr-2 dark:text-blue-100 text-blue-900">{{ .Page.Title }}</h3>
      <span class="text-sm dark:text-gray-500 text-gray-800">
        {{ if .Page.Params.when }}
          {{ .Page.Params.when }}
        {{ else }}
          {{ .Date.Format "02/01/2006" }}
        {{ end }}&nbsp;&middot;&nbsp;
        {{ .ReadingTime }} {{ cond (gt .ReadingTime 1) "minutes" "minute" }}
      </span>
    </div>

    <div class="leading-loose sm:leading-normal">
    {{ range .GetTerms "tags" }}
      <span href="{{ .RelPermalink }}" class="whitespace-no-wrap ml-1 transition-colors duration-100 text-sm dark:text-gray-400 text-gray-900 tracking-tight border rounded p-1">
        {{ .Title }}
      </span>
    {{ end }}
    </div>
  </div>

  <content class="dark:text-gray-400 text-gray-800 mb-2 text-justify">
    {{ .Summary }}
  </content>
</a>
