{{ define "main" }}

{{ $cover := .Resources.GetMatch "cover.jpg" }}
{{ if $cover }}
  {{ $placeholder := ($cover.Resize "48x q20") | images.Filter (images.GaussianBlur 6) }}
  <img data-sizes="auto" data-src="{{ $cover.RelPermalink }}" src="data:image/jpeg;base64,{{ $placeholder.Content | base64Encode }}" class="lazyload sm:rounded w-full" alt="">
{{ end }}

<article class="mx-4 sm:mx-0">
  <h1 class="text-gray-800 text-4xl mt-3">{{ .Title }}</h1>

  {{ if ne .File.Dir "/" }}
    <div class="text-sm text-gray-800 w-full mb-4">
      {{ if .Params.when }}
        {{ .Params.when }}
      {{ else }}
        {{ .Date.Format "02/01/2006" }}
      {{end}} &middot;
      {{ .ReadingTime }} {{ cond (gt .ReadingTime 1) "minutes" "minute" }}
    </div>
  {{ end }}

  {{ if .Params.showTOC }}
    {{ .TableOfContents }}
  {{ end }}

  <content>
    {{ .Content }}
  </content>

  <aside class="flex">
    {{ range .GetTerms "tags" }}
      <a href="{{ .RelPermalink }}" class="hover:bg-gray-200 whitespace-no-wrap mr-2 block transition-colors duration-100 text-sm text-gray-900 tracking-tight border rounded p-1">
        {{ .Title }}
      </a>
    {{ end }}
  </aside>

</article>

{{ end }}
