{{ define "main" }}
<main class="mx-4 sm:mx-0">
  <h1 class="dark:text-gray-400 text-gray-800 text-4xl mt-3">{{ .Title }}</h1>

  <ul class="grid grid-cols-2 sm:grid-cols-3 gap-4 mt-3">
    {{ range .Data.Terms.Alphabetical }}
      <a 
        class="shadow hover:shadow-lg transition-all duration-100 rounded p-4 bg-blue-800 hover:bg-blue-700" 
        href="{{ .Page.Permalink }}">
        <p class="text-white font-bold">{{ .Page.Title }}</p>
        <p class="text-gray-200 text-sm">{{ .Count }} {{ cond (gt .Count 1) "posts" "post"}}</p>
      </a>
    {{ end }}
  </ul>
</main>
{{ end }}